body{background-color: floralwhite;}

h1{font-family: fantasy;
font-size: 20px;}

h2{font-family: cursive;
color: firebrick;
font-size: 35px;}

p{font-family: fantasy;
    font-size: 19px;
align-content: center}

